

        <h1>Add New Students</h1>

              <%= form_for @student do |f| %>
              <%= f.hidden_field :student_id, value: @student.id %>
              <div class='container'>

                    <div class='row'>
                        <div class='col-md-2'>
                          <%= f.label :first_name%>:
                        </div>

                        <div class='col-md-10'>
                              <%= f.text_field :first_name%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                              <%= f.label :last_name%>:
                        </div>
                        <div class='col-md-10'>
                              <%= f.text_field :last_name%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <%= f.label :parent_first_name%>:
                        </div>
                        <div class='col-md-10'>
                            <%= f.text_field :parent_first_name%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <%= f.label :parent_last_name%>:
                        </div>
                        <div class='col-md-10'>
                            <%= f.text_field :parent_last_name%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <%= f.label :email%>:
                        </div>
                        <div class='col-md-10'>
                            <%= f.text_field :email%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <%= f.label :current_school%>:


                        </div>
                        <div class='col-md-10'>
                            <%= f.text_field :current_school%><br />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <%= f.label :grade_level%>:
                        </div>
                        <div class='col-md-10'>
                            <%= f.number_field :grade_level%><br />
                        </div>
                    </div>
                    <%= f.label :photo%>
                    <%= f.file_field :photo%>
                    <div class='form-actions'>
                      <%= f.submit "Enroll" %>
                    </div>
                    <% end %>


      
