<h1>Add New Students</h1>

      <%= form_for(@student, :html => { :class => "form-control" } )do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name"%>
      <%= f.text_field :last_name, placeholder: "last Name"%>
      <%= f.text_field :parent_first_name, placeholder: "Parent's First Name"%>
      <%= f.text_field :parent_last_name, placeholder: "Parent's Last Name"%>
      <%= f.text_field :email, placeholder: "Email"%>
      <%= f.text_field :current_school, placeholder: "Current School"%>
      <%= f.number_field :grade_level, placeholder: "Grade"%> <%#= I want this to drop down -%>
      <%= f.file_field :photo, placeholder: "Photo"%>
      <div class='form-actions'>
        <%= f.submit "Enroll" %>
      </div>
      <% end %>
